.card {
  background: black;
  position: relative;
  transition: 100ms transform;
  z-index: 1;
}

.card:hover {
  transform: translate(-0.2rem, 0.2rem);
}

.contents {
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem 0.75rem;
  transition: 100ms transform;
}

.card:hover .contents {
  transform: translate(0.4rem, -0.4rem);
}

.heading {
  margin: 0.25rem 0 0.5rem;
}

.image {
  bottom: 5px;
  height: 15%;
  opacity: 0.25;
  position: absolute;
  right: 5px;
}

.description {
  font-size: 0.9rem;
  height: 100%;
  margin: 0;
}

.details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.free,
.pro {
  padding: 0.25rem 0.5rem;
}

.free {
  background: white;
  border: 1px solid #494949;
  color: #494949;
}

.pro {
  background: #494949;
  color: white;
}

.tags {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  position: relative;
  text-align: left;
  text-align: right;
  width: 100%;
}

.tagLabel {
  font-style: italic;
}

.tag {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #777;
  border-radius: 2px;
  display: inline-block;
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.preview {
  position: relative;
}

.previewContents {
  position: absolute;
  bottom: 100%;
  background: white;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}
